body {
    font-family: Arial;
    margin: 20px;
}

input {
    display: block;
    margin: 5px 0;
    padding: 5px;
}

button {
    padding: 6px 10px;
    margin-bottom: 10px;
}

h1 {
    color: darkblue;
}